<html>
<head>

</head>
<body ng-app="MyApp">

  <div ng-controller="MyController">
      <div >
        <input type="text" ng-model-options="{updateOn: 'mousedown blur', debounce: { default : 1000, blur: 500 }}" ng-model="my.name"/>
      </div>
      <div >
        On Update - {{my.name}}
      </div>

      <div >
        <input type="text" ng-model="my.mobile"/>
      </div>
      <div >
        Normal - {{my.mobile}}
      </div>
  </div>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
 <script src="app.js" charset="utf-8"></script>
</body>
</html>
